<h1>Fortune 500 Company Rating Explorer - 2019</h1>

<p>
    Every year, the Forbes will release a list called Fortune 500, which are 500 companies that are most profitable in terms of their revenue this year.
    These are promising large firms or startups that are doing really well in their business.
</p>
<p>
    But as a job seeker, you might also wnat to know how it feels like to work at these companies.
    Here, we show you the overall ratings collected from Glassdoor which is provided by anonymous employees.
    Click the link below and see how employees actually think about these Fortune 500 companies!
</p>


<a href="/companies/">Try out the company list</a>