<a href="/">Back to home</a>
<h1>Company List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Glassdoor Ratings</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for company in company_list %}
        <tr>
            <td>{{ company[company_fields.ID.value]}}</td>
            <td>
                <a target="_blank" {% if company[company_fields.URL.value] %} href="https://{{ company[company_fields.URL.value] }}" {% endif %}>{{ company[company_fields.NAME.value] }}</a>
            </td>
            <td><a target="_blank" href="{{ company[company_fields.NAME.value]|as_glassdoor_url }}">
                {{ company[company_rating_field_index] }}
            </a></td>
            <td>{{ company[company_fields.SIZE.value] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<a href="/">Back to home</a>